.social-links {
  display: inline-flex;
  margin-bottom: 24px;

  @include for-size(desktop) {
    margin-bottom: 30px;
  }
}

.social-icon {
  @include size(20px, 20px);
  fill: $icon-grey;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: $white;
  }
}

.social-link {
  @include centered(flex);
  border-radius: 50%;
  @include size(44px, 44px);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-cl;

    .social-icon {
      fill: $white;
    }
  }
}

.social-item:not(:first-child) {
  margin-left: 10px;
}
