.list-direction {
  width: auto;

  @include for-size(tablet) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  @include for-size(desktop) {
    display: flex;
    justify-content: center;
  }
}

.item-direction {
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  @include for-size(tablet) {
    width: calc((100% - 60px) / 2);
    margin-bottom: 30px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    &:nth-child(2n) {
      margin-left: 30px;
    }
  }

  @include for-size(desktop) {
    width: calc((100% - 120px) / 4);
    margin-bottom: 0;

    &:not(:first-child) {
      margin-left: 30px;
    }
  }

  &::before {
    display: block;
    content: "";
    height: 120px;
    margin-bottom: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: $grey-bg;
  }
}

.icon-antenna::before {
  background-image: url(../img/decor/antenna1.svg);
}

.icon-clock::before {
  background-image: url(../img/decor/clock1.svg);
}

.icon-diagram::before {
  background-image: url(../img/decor/diagram1.svg);
}

.icon-astronaut::before {
  background-image: url(../img/decor/astronaut1.svg);
}

.directions {
  margin-bottom: 10px;
  @include fonts(14px, 700, 1.14, 0.03em);
  text-transform: uppercase;
  color: $black;
  text-align: center;
}
