.hero-section {
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-image: radial-gradient(circle at center, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/decor/header_mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: radial-gradient(circle at center, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../img/decor/header_mobile@2x.jpg");
  }

  @include for-size(tablet) {
    background-image: radial-gradient(circle at center, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../img/decor/header_tablet.jpg");

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: radial-gradient(circle at center, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../img/decor/header_tablet@2x.jpg");
    }
  }

  @include for-size(desktop) {
    background-image: radial-gradient(circle at center, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url("../img/decor/header_desktop.jpg");
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (-o-min-device-pixel-ratio: 2/1),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: radial-gradient(circle at center, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../img/decor/header_desktop@2x.jpg");
      max-width: 1600px;
    }
  }
}

.hero-title {
  margin-top: 0px;
  margin-bottom: 30px;
  @include fonts(26px, 900, 1.62, 0.06em);
  text-transform: uppercase;
  color: $white;

  @include for-size(desktop) {
    @include fonts(44px, 900, 1.36, 0.06em);
  }
}
